
*{
    font-family: 'Montserrat';
    font-style: normal;
}

.typo-pathway{
    font-family: 'Pathway Gothic One', sans-serif;
}

/* Tenemos nuevos tratamientos para sacar lo mejor de ti! */
.banner-header-h2{
    letter-spacing: 0.02em;
}

.banner-services-h2{
    font-family: 'Pathway Gothic One', sans-serif;
}

.productTypo{
    font-family: 'Abhaya Libre', serif;
}